* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
#root {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Roboto-Bold";
  font-size: 25pt;
}
.holder {
  text-align: center;
}
